<div class="row" id="tourn-show-page">
  <div class="row" id="stroke-lb-header">

    <div class="row align-middle title-header">
      <div class="small-3 columns lb-purse">
        <p>Purse</p>
        <p>$<%= 30 * @tournament.users.length  %></p>
      </div>
      <div class="small-6 columns" id="stroke-lb-title">
        <h5>Leaderboard</h5>
        <p><%= @tournament.year %></p>
      </div>
    </div>

    <div class="row align-middle lb-header">
      <div class="small-5 columns stroke-lb">
        <p>Player</p>
      </div>
      <div class="small-2 columns stroke-lb">
        <p>total</p>
      </div>
      <div class="small-1 columns stroke-lb">
        <p>R1</p>
      </div>
      <div class="small-1 columns stroke-lb">
        <p>r2</p>
      </div>
      <div class="small-1 columns stroke-lb">
        <p>r3</p>
      </div>
      <div class="columns lb" id="net-total-title">
        <p>net</p>
      </div>
    </div>

  </div>

  <div class="row" id="stroke-lb-container">
    <div class="columns">
      <% @lb.each do |s| %>
      <div class="row align-middle lb-player">
        <div class="small-5 columns player">
          <h5><%= s.user.first_name %> <%= s.user.last_name[0]  %></h5>
          <p><%= s.handicap ||= 0%> handicap</p>
        </div>
        <div class="small-2 columns" id="lb-total-score"><%= s.total_score %></div>
        <div class="small-1 columns lb" id="round-one-score"><%= s.rnd1_score %></div>
        <div class="small-1 columns lb" id="round-two-score">
          <%= s.rnd2_score != 0 ? s.rnd2_score : '' %>
        </div>
        <div class="small-1 columns lb" id="round-three-score">
          <%= s.rnd3_score != 0 ? s.rnd3_score : '' %>
        </div>
        <div class="columns lb text-center" id="net-total"><%= s.net_total %></div>
      </div>
      <% end %>
    </div>


  </div>
  <div class="row align-middle" id="leaderboard_nav">
    <div class="small-4 columns tourn-links">
      <%= link_to "Home", tournament_path(@tournament.id)  %>
    </div>
    <div class="small-4 columns tourn-links">
      <%= link_to "Putting", tournament_putting_leaderboard_index_path(@tournament.id)  %>
    </div>
    <div class="columns tourn-links">
      <%= link_to "+ Rnd", tournament_tournament_rounds_path(@tournament.id) %>
    </div>
  </div>
</div>