<%= render 'devise/shared/navbar'  %>
<div class="row" id="tourn-show-page">
  <div class="row" id="stroke-lb-header">
    <div class="row align-middle" id="title-header">
      <div class="small-3 columns" id="tournament-name">
        <p><%= @tournament.year %></p>
      </div>
      <div class="small-6 columns" id="stroke-lb-title">
        <h5><%= @tournament.name %></h5>
        <H5>Master List</H5>
      </div>
    </div>
    <div class="row align-middle" id="lb-header">
      <div class="small-4 columns" id="player">PLAYER</div>
      <div class="small-5 columns" id="player">EMAIL</div>
      <div class="columns lb">DELETE</div>
    </div>
  </div>
  <div class="row" id="stroke-lb-container">
    <% @scorecards.sort { |a, b| a.user.last_name <=> b.user.last_name }.each do |scorecard|  %>
    <div class="row" id="lb-player">
      <div class="small-4 columns" id="player">
        <h5 class='admin-link'><%= scorecard.user.first_name %> <%= scorecard.user.last_name  %>
        </h5>
      </div>
      <div class="small-5 columns email-master" id="player"><p><%= scorecard.user.email  %></p></div>
      <div class="columns lb" id="delete-button"><%= link_to("X", scorecard, method: :delete) %></div>
    </div>
    <% end %>
  </div>
  <div class="row align-middle" id="leaderboard_nav">
    <div class="small-4 columns tourn-links">
      <%= link_to "Home", tournaments_path  %>
    </div>
    <div class="small-4 columns tourn-links">
      <%= link_to "Gross Skins", skins_leaderboard_tournament_path(@tournament) %>
    </div>
    <div class="columns tourn-links">
      <%= link_to "Net Skins", net_skins_leaderboard_tournament_path(@tournament)%>
    </div>
  </div>
</div>