<div class="row align-center" id="user-edit-page">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row align-center" id="user-edit-form-wrapper">
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-name">
      <%= f.label :first_name %> <br>
      <%= f.text_field :first_name, class: 'edit-user-form'%>
    </div>
     <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-name">
      <%= f.label :last_name %> <br>
      <%= f.text_field :last_name, class: 'edit-user-form'%>
    </div>
    <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-name">
      <%= f.label :handicap %> <br>
      <%= f.number_field :handicap, class: 'edit-user-form'%>
    </div>
    <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-name">
      <%= f.label :tee %> <br>
      <%= f.select :gender, ["M", "F"], prompt: 'Select One', class: 'edit-user-form'%>
    </div>
    <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-email">
      <%= f.label :email %> <br>
      <%= f.email_field :email, class: 'edit-user-form' %>
    </div>
    <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-home">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'edit-user-form'%>
    </div>
    <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-home">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",  class: 'edit-user-form' %>
    </div>
    <div class="small-12 medium-8 large-stack columns" id="user-edit-submit">
      <%= f.submit 'Sign Up', class: 'expanded button' %>
    </div>
  </div>
  <% end %>
  <div class="expand">
    <%= render "devise/shared/links" %>
  </div>
</div>
