<div class="row" id="tourn-show-page">
  <div class="row" id="putting-lb-header">

    <div class="row align-middle title-header">
     <div class="small-12 columns stroke-lb-title">
        <h5>Putting LB</h5> <p><%= @tournament.year %></p>
      </div>
      <div class="small-12 columns stroke-lb-title">
        <p>Purse</p> <p>$<%= @three_putts %></p>
      </div>
    </div>


    <div class="row align-middle lb-header">
      <div class="small-5 columns stroke-lb">
        <p>Player</p>
      </div>
      <div class="small-2 columns stroke-lb">
        <p class="text-center">3p</p>
      </div>
      <div class="small-1 columns stroke-lb">
        <p>R1</p>
      </div>
      <div class="small-1 columns stroke-lb">
        <p>r2</p>
      </div>
      <div class="small-1 columns stroke-lb">
        <p>r3</p>
      </div>
      <div class="small-2 columns stroke-lb">
        <p>Total</p>
      </div>
    </div>

  </div>

  <div class="row" id="stroke-lb-container">
    <div class="columns">

      <% @putting_lb.each do |s| %>
      <div class="row align-middle text-center lb-player">
        <div class="small-5 columns text-left player">
          <h5><%= s.user.first_name %> <%= s.user.last_name[0]  %></h5>
          <p><%= s.handicap ||= 0%> handicap</p>
        </div>
        <div class="small-2 columns" ><%= s.total_3_putts %></div>
        <div class="small-1 columns lb" ><%= s.rnd1_putts %></div>
        <div class="small-1 columns lb" ><%= s.rnd2_putts %></div>
        <div class="small-1 columns lb" ><%= s.rnd3_putts.nil?.! ? s.rnd3_putts : '' %></div>
        <div class="small-2 columns lb" id="net-total"><%= s.total_putts %></div>
      </div>
      <% end %>

    </div>
  </div>
  <div class="row align-bottom align-middle footer" id="putting-nav">
    <div class="small-4 columns tourn-links">
      <%= link_to "Home", tournament_path(@tournament.id)  %>
    </div>
    <div class="small-4 columns tourn-links">
      <%= link_to "Stroke", tournament_stroke_leaderboard_index_path(@tournament.id) %>
    </div>
    <div class="columns tourn-links">
      <%= link_to "+ Rnd", tournament_tournament_rounds_path(@tournament.id) %>
    </div>
  </div>
</div>