<div class="row" id="tourn-rnds-list">
	<div class="row" id="sc-list-header">
		<div class="small-6 columns align-center align-middle" id="sc-tourn">
			<h3><%= @tourn_rounds[0].tournament.name %> <%= @tourn_rounds[0].tournament.year %></h3>
		</div>
		<div class="small-6 align-center align-middle columns" id="sc-list-title">
			<h3><%= current_user.username.split(' ').first  %>'s Scorecards</h3>
		</div>
	</div><!-- sc-header -->
	<% @tourn_rounds.each do |t| %>
	<div class="row" id="scorecard-link-wrapper">
		<div class="small-6 columns align-center align-middle" id="round-link">
			<h5>ROUND
				<% if t.tournament_id == @current_tourn.id %>
			    <%=  link_to t.round_num, edit_tournament_round_path(t.tournament_id, t.id) %>
			  <% else %>
					<%= link_to t.round_num, tournament_round_path(t.tournament_id, t.id) %>
				<% end %>
			</h5>
		</div>
		<div class="small-6 columns align-center align-middle">
			<h5><%= t.course.name %></h5>
		</div>
	</div>
	<% end %>
	<div class="row align-middle footer" id="rounds-list-nav">
		<div class="small-3 columns tourn-links">
			<%= link_to "Home", tournaments_path  %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Stroke", stroke_leaderboard_tournament_path(@tourn_rounds[0].tournament.id) %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Putting", putting_leaderboard_tournament_path(@tourn_rounds[0].tournament.id)  %>
		</div>
		<div class="small-2 columns tourn-links">
			<%= link_to "Times", tee_times_tournament_path(@tourn_rounds[0].tournament.id) %>
		</div>
	</div>
</div>
