<!-- rounds/new.html.erb -->
<div class="container new-round-form-container">
	<div class="row">
		<div class="small-6 columns">
			<h1>New Round</h1>
		</div>
	</div>
	<div class="row new-round-form">
		<%= form_for(@round) do |f| %>
		<div class="row">
			<div class="small-6 medium-4 columns">
				<%= f.label :score %>
			  <%= f.text_field :score %>
			</div>
			<div class="small-6 medium-4 columns">
			  <%= f.label :putts %>
			  <%= f.text_field :putts %>			
			</div>
			<div class="row">
				<div class="small-6 medium-6 columns">
					<%= f.select(:course_id) do %>
            <% @courses.each do |c| %>
              <%= content_tag(:option, c[0], value: c[1]) %>
            <% end %>
					<% end %>
					
				</div>
			</div>
			</div>
		</div>
		  <%= submit_tag "Add", class: 'expanded button' %>
		<% end %>		
	</div>
</div>