<div class="row large-unstack align-middle align-center" id="user-edit-page">
    <h1>Sign Up</h1>

    <%= form_for @user do |f| %>
    <div class="row align-center" id="user-edit-form-wrapper">
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-name">
        <%= f.label :username %> <br>
        <%= f.text_field :username, class: 'edit-user-form'%>
      </div>
      <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-email">
        <%= f.label :email %> <br>
        <%= f.email_field :email, class: 'edit-user-form' %>
      </div>
      <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-home">
        <%= f.label :password %> <br>
        <%= f.text_field :password, class: 'edit-user-form'%>
      </div>
      <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-home">
        <%= f.label :password_confirmation %> <br>
        <%= f.text_field :password_confirmation, class: 'edit-user-form'%>
      </div>
      <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-home">
        <%= f.label :home %> <br>
        <%= f.text_field :home, class: 'edit-user-form'%>
      </div>
      <div class="small-12 medium-8 large-stack columns edit-border" id="user-edit-handicap">
        <%= f.label :handicap%> <br>
        <%= f.number_field :handicap, :step => 'any', class: 'edit-user-form' %>
      </div>
      <div class="small-12 medium-8 large-stack columns" id="user-edit-submit">
        <%= f.submit 'Update', class: 'expanded button' %>
      </div>
    </div>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :username %>
      </p>
      <p>
        <%= f.label :handicap  %><br />
        <%= f.number_field :handicap %>
      </p>
      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </p>
      <p><%= f.submit %></p>
    <% end %>

  </div>
</div>