<div class="row" id="user-profile">
	<div class="row align-middle align-center" id="user-profile-top">
		<div class="small-6 medium-6 large-4 columns" id="user-profile-image">
			<div id="user-image">
				<div class="layer"></div>
					<%= image_tag attachment_url(@user, :profile_image, :fill, 110, 110, format: "jpg"), class: 'image-tag' %>

			</div>
		</div>
		<div class="columns" id="user-profile-info">
			<p id="profile-username"><%= current_user.username %></p>
			<span> <%= current_user.home%></span>
			<p id="user-handicap">Handicap  <span><%= current_user.handicap %></span></p>
		</div>
	</div>
	<div class="row align-center" id="user-profile-middle">
		<div class="row align-middle">
			<div class="columns" id="best-round">
				<p>Best Round</p>
				<h5><span><%= @low_net.score - @low_net.handicap %></span> at <%= @course.name %></h5>
			</div>
		</div>
		<div class="row align-middle">
			<div class="columns" id="best-putting">
				<p>Fewest Putts</p>
				<h5><span><%= @low_putt.putts %></span> at <%= @putt_course.name %></h5>
			</div>
		</div>
		<div class="row align-middle">
			<div class="columns" id="tourn-average">
				<p>Tournament Average</p>
				<h5><%= @avg_score %></h5>
			</div>
		</div>
	</div>
	<div class="row align-middle" id="profile_nav">
		<div class="small-4 columns tourn-links">
			<%= link_to "Tournaments", tournaments_path  %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "+ Rnd", tournament_rounds_path(@tournament) %>
		</div>
		<div class="small-2 columns tourn-links">
			<%= link_to "Edit", edit_user_path(current_user.id)  %>
		</div>
		<div class="columns tourn-links">
			<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
		</div>
	</div>
</div>