<div class="row expanded" id="user-profile">

	<div class="row align-middle user-header">
		<div class="small-12 medium-6 columns text-center">
      <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
      <p><%= current_user.home %></p>
      <p><%= current_user.handicap %> handicap</p>
    </div>
	</div>

  <div class="row user-links text-center">
    <div class="columns">
      <%= link_to(user_statistic_path(current_user)) do %>
      <div class="row expanded align-middle show-link" id="home-links">
        <div class="small-8 columns">
          <h5>Statistics</h5>
        </div>
        <div class="small-4 columns home-button-right">
          <%= image_tag("arrow-30-16.png", class: 'home-icon')%>
        </div>
      </div>
      <% end %>

      <%= link_to(scorecards_path) do %>
      <div class="row expanded align-middle show-link">
        <div class="small-8 columns">
          <h5>Scorecards</h5>
        </div>
        <div class="small-4 columns text-center home-button-right">
          <%= image_tag("arrow-30-16.png", class: 'home-icon')%>
        </div>
      </div>
      <% end %>

       <%= link_to(tournaments_path) do %>
      <div class="row expanded align-middle show-link">
        <div class="small-8 columns">
          <h5>Tournaments</h5>
        </div>
        <div class="small-4 columns text-center home-button-right">
          <%= image_tag("arrow-30-16.png", class: 'home-icon')%>
        </div>
      </div>
      <% end %>

      <%= link_to(edit_user_path(current_user)) do %>
      <div class="row expanded align-middle show-link">
        <div class="small-8 columns">
          <h5>Account Info</h5>
        </div>
        <div class="small-4 columns home-button-right">
          <%= image_tag("arrow-30-16.png", class: 'home-icon')%>
        </div>
      </div>
      <% end %>

      <% if current_user.admin == true %>
        <%= link_to(new_tournament_path) do %>
        <div class="row expanded align-middle show-link">
          <div class="small-8 columns text-center">
            <h5>New Tournament</h5>
          </div>
          <div class="small-4 columns text-center home-button-right">
            <%= image_tag("arrow-30-16.png", class: 'home-icon')%>
          </div>
        </div>
        <% end %>
      <% end %>

    </div>

  </div>
</div>