<div class="row profile-page">
	<div class="row profile-top-container">
		<div class="layer">
		  <div class="row profile-info">
		  	<div class='row' id="info-top">
					<div class="small-11 columns username"><%= current_user.username %></div>
		  	</div>
		  	<div class='row' id="info-bottom">
					<div class="small-12 columns" id="profile-home">
						<i class="fi-marker"></i>
						<span><%= current_user.home%></span>
					</div>
		  	</div>
		  </div>
		</div>
	</div>
	<div class="row align-center align-middle profile-middle-container">
		<div class="column small-4" id="handicap-title">
			<h2>Handicap</h2>
		</div>
		<div class="column small-4" id="handicap">
			<%= current_user.handicap  %>
		</div>
	</div>
	<div class="row align-center" id="profile-bottom-container">
		<div class="row align-middle align-center" id="top-row-bottom">
			<div class="column small-6 align-middle" id="low-net-title">
				<h3>Low Putts</h3>
			</div>
			<div class="column small-6 align-middle" id="low-gross-title">
				<h3>Low Net</h3>
			</div>
			<div class="column small-6 align-middle" id="low-net">
				<h5><%= @putt_course.name  %> <span><%= @low_putt.putts %></span></h5>
			</div>
			<div class="column small-6 align-middle" id="low-gross">
				<h5><%= @course.name  %> <span><%= @low_net.score - @low_net.handicap %></span></h5>
			</div>
		</div>
		<div class="row align-middle align-center" id="middle-row-bottom">
			<div class="column small-6 align-middle" id="total-earnings">
				<h3>Total Winnings</h3>
			</div>
			<div class="column small-6 align-middle" id="low-gross">
				<h5>$310</h5>
			</div>
		</div>
		<div class="row align-middle align-center" id="bottom-row-bottom">
			<div class="column small-4 align-middle" id="tournament-link">
				<%= link_to "Tournaments", tournaments_path %>
			</div>
			<div class="column small-4 align-middle" id="scorecards-link">
				<%= link_to "Edit Profile", edit_user_path(current_user.id) %>
			</div>
			<div class="column small-4 align-middle" id="log-out-profile">
				<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
			</div>
		</div>
	</div>
</div>