<%= render 'devise/shared/navbar'  %>
<% if @current_tournament.nil?.! && @current_tournament.name == "Royal JBS Tournament" %>
<div class="row align-middle align-center tournament-container-jbs">
  <div class="small-12 medium-12 large-12 columns" id="current-tournament-jbs">
    <h1><%= link_to @current_tournament.name, skins_leaderboard_tournament_path(@current_tournament.id) %></h1>
  </div>
  <div class="small-12 medium-8 large-6 columns">
    <span><%= image_tag "wish.png", class: 'makeawish-logo'%> </span>
  </div>
</div>
  <% else %>
<div class="row align-middle tournament-container">
  <div class="small-12 medium-12 large-12 columns" id="history-tourn-button-wo-tourn">
    <div class="tourn-layer">
      <h1><%= link_to 'Tournament History', history_tournaments_path %></h1>
    </div>
  </div>
  <div class="small-12 medium-12 large-12 columns" id="tournament-courses-wo-tourn">
    <div class="tourn-layer">
      <h1><%= link_to "Courses", courses_path %></h1>
    </div>
  </div>
  <% end %>
</div>
