<%= render 'devise/shared/navbar'  %>
<div class="row" id="tourn-show-page">
  <div class="row" id="putting-lb-header">
    <div class="row align-middle" id="title-header">
      <div class="small-3 columns" id="tournament-name">
        <p><%= skins_tournament.year %></p>
      </div>
      <div class="small-6 columns" id="stroke-lb-title">
        <h5><%= skins_tournament.name %> Leaderboard</h5>
      </div>
    </div>
    <div class="row align-middle" id="lb-header">
      <div class="small-5 columns" id="player">PLAYER</div>
      <div class="small-2 columns" id="lb-total-score">TOTAL</div>
      <div class="small-3 columns lb" id="round-one-score">Skins Won</div>
      <div class="columns lb" id="net-total-title">Net</div>
    </div>
  </div>
  <div class="row" id="stroke-lb-container">
    <% net_skins_leaderboard.each do |scorecard|  %>
    <div class="row" id="lb-player">
      <div class="small-5 columns" id="player"><h5><%= scorecard.user.username.split(' ').first %>
        <span><%= scorecard.user.handicap.nil?.! ? scorecard.user.handicap.round : nil %></span></h5>
      </div>
      <div class="small-2 columns" id="lb-total-score"><%=  scorecard.net_skin_total%></div>
      <div class="small-3 columns lb" id="round-one-score"><%= skins_won(scorecard, 'net_skin') %></div>
      <div class="columns lb" id="round-one-score"><%= scorecard.user_scores.sum(:net) %></div>
    </div>
    <% end %>
  </div>
  <div class="row align-middle" id="putting-nav">
    <div class="small-4 columns tourn-links">
      <%= link_to "Home", tournaments_path  %>
    </div>
    <div class="small-4 columns tourn-links">
      <%= link_to "Gross Skins", skins_leaderboard_tournament_path(@tournament) %>
    </div>
    <div class="columns tourn-links">
      <%= link_to "Scorecard", edit_scorecard_path(@tournament.scorecards.where(user_id: current_user.id).first.id)%>
    </div>
  </div>
</div>