<div class="row" id="new-tourn-form">
    <% @tournaments.each do |t| %>
    <div class="small-12">
      <%= t.name  %>
      <%= link_to t.year, tournament_path(t.id) %>
    </div>
    <% end %>
		<div class="small-6 columns tourn-header">
			<h1>New Round - Tournament</h1>
		</div>
	<div class="row">
		<%= form_for(@tournament) do |f| %>
		<div class="row">
			<div class="small-12 medium-4 large-3 medium-centered large-centered columns">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
			<div class="small-12 medium-4 large-3 medium-centered large-centered columns">
				<%= f.label :year %>
        <%= f.text_field :year %>
			</div>
			<div class="small-12 medium-4 large-3 medium-centered large-centered columns">
				<%= f.label :number_of_players %>
				<%= f.text_field :num_players %>
			</div>
				<div class="small-12 medium-4 large-3 medium-centered large-centered columns">
				<%= f.label :number_of_rounds %>
				<%= f.text_field :num_rounds %>
			</div>
		</div>
	<%= submit_tag "Add", class: 'expanded button enlarge' %>
	</div>
	<% end %>
</div>
