<div class="row" id="tourn-show-page">
	<div class="row" id="putting-lb-header">
		<div class="row align-middle" id="title-header">
			<div class="small-3 columns" id="tournament-name">
				<p><%= @tournament.name %> <%= @tournament.year.to_s.split('0').last.to_i  %></p>
			</div>
			<div class="small-6 columns" id="putting-lb-title">
				<h5>Putting Leaderboard</h5>
			</div>
			<div class="small-3 columns" id="tournament-purse">
				<p>Purse $<%= @three_putts %></p>
			</div>
		</div>
		<div class="row align-middle" id="lb-header">
			<div class="small-5 columns" id="player">PLAYER</div>
			<div class="small-2 columns" id="lb-total-score">3 Putts</div>
			<div class="small-1 columns lb" id="round-one-score">R1</div>
			<div class="small-1 columns lb" id="round-two-score">R2</div>
			<div class="small-1 columns lb" id="round-three-score">R3</div>
			<div class="small-2 columns lb" id="net-total">Total</div>
		</div>
	</div>
	<div class="row" id="stroke-lb-container">
		<% @putting_lb.each do |s| %>
		<div class="row align-middle" id="lb-player">
			<div class="small-5 columns" id="player"><h5><%= s.user.username.split(' ').first %> <%= s.user.username.split(' ').last[0]  %>
				<span><%= ((s.user.handicap * 0.9) * 1).round unless s.user.handicap == nil %></span></h5>
			</div>
			<div class="small-2 columns" id="lb-total-score"><%= s.total_3_putts %></div>
			<div class="small-1 columns lb" id="round-one-score"><%= s.rnd1_putts %></div>
			<div class="small-1 columns lb" id="round-two-score"><%= s.rnd2_putts %></div>
			<div class="small-1 columns lb" id="round-three-score"><%= s.rnd3_putts %></div>
			<div class="small-2 columns lb" id="net-total"><%= s.total_putts %></div>
		</div>
		<% end %>
	</div>
	<div class="row align-bottom align-middle footer" id="putting-nav">
		<div class="small-3 columns tourn-links">
			<%= link_to "Home", tournaments_path(@tournament)  %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Stroke", stroke_leaderboard_tournament_path(@tournament.id) %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Tee Times", tee_times_tournament_path(@tournament) %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "+ Round", tournament_rounds_path(@tournament)  %>
		</div>
	</div>
</div>