<div class="row" id="stroke-lb-container">
		<% @lb.each do |s| %>
		<div class="row align-middle" id="lb-player">
			<div class="small-5 columns" id="player"><h5><%= s.user.username.split(' ').first %> <%= s.user.username.split(' ').last[0]  %>
				<span><%= ((s.user.handicap * 0.9) * 1).round %></span></h5>
			</div>
			<div class="small-2 columns" id="lb-total-score"><%= s.total_score %></div>
			<div class="small-1 columns lb" id="round-one-score"><%= s.rnd1_score %></div>
			<div class="small-1 columns lb" id="round-two-score"><%= s.rnd2_score %></div>
			<div class="small-1 columns lb" id="round-three-score"><%= s.rnd3_score %></div>
			<div class="small-2 columns lb" id="net-total"><%= s.net_total %></div>
		</div>
		<% end %>
	</div>
	<div class="row align-bottom align-middle" id="tee-time-nav">
		<div class="small-3 columns tourn-links">
			<%= link_to "Home", tournaments_path(@tournament)  %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Stroke", stroke_leaderboard_tournaments_path(@tournament) %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Putting", putting_leaderboard_tournaments_path(@tournament) %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "+ Round", tournaments_path(@tournament)  %>
		</div>
	</div>