<%= render 'devise/shared/navbar'  %>
<div class="row" id="tourn-show-page">
	<div class="row" id="stroke-lb-header">
		<div class="row align-middle" id="title-header">
			<div class="small-3 columns" id="tournament-name">
				<p><%= @tournament.year %></p>
				<p id="purse-total">Purse <span>$<%= @purse %></span></p>
			</div>
			<div class="small-6 columns" id="stroke-lb-title">
				<h5>Leaderboard</h5>
			</div>
		</div>
		<div class="row align-middle" id="lb-header">
			<div class="small-4 columns" id="player">PLAYER</div>
			<div class="small-2 columns" id="lb-total-score">TOTAL</div>
			<div class="small-1 columns lb" id="round-one-score">
				<% if @tournament.id == @current_tournament.id %>
			    <%=  link_to 'R1', edit_tournament_round_path(@tournament.id, @rnd1_id[0].id) %>
		    <% else %>
		    	<%= link_to 'R1', tournament_round_path(@tournament.id, @rnd1_id[0].id)  %>
				<% end %>
			</div>
			<div class="small-1 columns lb" id="round-two-score">
				<% if @tournament.id == @current_tournament.id %>
			    <%=  link_to 'R2', edit_tournament_round_path(@tournament.id, @rnd2_id[0].id) %>
		    <% else %>
		    	<%= link_to 'R2', tournament_round_path(@tournament.id, @rnd2_id[0].id)  %>
				<% end %>
			</div>
			<div class="small-1 columns lb" id="round-three-score">
				<% if @tournament.id == @current_tournament.id %>
			    <%=  link_to 'R3', edit_tournament_round_path(@tournament.id, @rnd3_id[0].id) %>
		    <% else %>
		    	<%= link_to 'R3', tournament_round_path(@tournament.id, @rnd3_id[0].id)  %>
				<% end %>
			</div>
			<div class="small-2 columns lb" id="net-total">NET</div>
		</div>
	</div>
	<div class="row" id="stroke-lb-container">
		<% @lb.each do |s| %>
		<div class="row align-middle" id="lb-player">
			<div class="small-5 columns" id="player"><h5><%= s.user.username.split(' ').first %> <%= s.user.username.split(' ').last[0]  %>
				<span><%= s.user.handicap.nil?.! ? s.user.handicap : nil %></span></h5>
			</div>
			<div class="small-2 columns" id="lb-total-score"><%= s.total_score %></div>
			<div class="small-1 columns lb" id="round-one-score"><%= s.rnd1_score %></div>
			<div class="small-1 columns lb" id="round-two-score">
				<%= s.rnd2_score != 0 ? s.rnd2_score : '' %>
			</div>
			<div class="small-1 columns lb" id="round-three-score">
				<%= s.rnd3_score != 0 ? s.rnd3_score : '' %>
			</div>
			<div class="small-2 columns lb" id="net-total"><%= s.net_total %></div>
		</div>
		<% end %>
	</div>
	<div class="row align-middle" id="leaderboard_nav">
		<div class="small-3 columns tourn-links">
			<%= link_to "Home", tournaments_path  %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Putting", putting_leaderboard_tournament_path(@tournament.id)  %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Tee Times", tee_times_tournament_path(@tournament) %>
		</div>
		<div class="small-2 columns tourn-links">
			<%= link_to "+ Rnd", tournament_rounds_path(@tournament)  %>
		</div>
	</div>
</div>