<%= render 'devise/shared/navbar'  %>
<div class="row" id="tourn-show-page">
	<div class="row" id="tee-times-header">
		<div class="row align-middle" id="title-header">
			<div class="small-3 columns" id="tournament-name">
				<p><%= @tournament.name %> <%= @tournament.year  %></p>
			</div>
			<div class="small-6 columns" id="putting-lb-title">
				<h3>Tee Times</h3>
			</div>
		</div>
	</div>
	<div class="row" id="tee-times-wrapper">
		<% @rounds.group_by(&:round_num).sort.each do |round,tee_times|  %>
		<div class="row" id="tee-time-container">
			<div class="row align-center align-middle inner-height" id="tee-time-cont-header">
				<div class="small-5 columns">
					<h4>ROUND <%= round %></h4>
				</div>
				<div class="small-6 columns">
					<h4><%= tee_times[0].course.name %></h4>
				</div>
			</div>
			<% total = 0 %>
			<% tee_times.group_by(&:tee_time).sort.each do |time, player|  %>
			<% total += 1  %>
			<div class="row align-middle" id="tee-time-list">
				<div class="small-5 align-middle align-center columns" id="times">
					<p>GROUP <%= total  %></p>
					<%= time.strftime("%H:%M") %>
				</div>
				<div class="small-6 align-middle align-center columns" id="players">
				<% player.each do |i| %>
					<p><%= i.user.username %></p>
				<% end %>
				</div>
			</div>
			<% end %>
		</div>
		<% end %>
	</div>
	<div class="row align-middle" id="tee-time-nav">
		<div class="small-3 columns tourn-links">
			<%= link_to "Home", tournaments_path  %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Stroke", stroke_leaderboard_tournament_path(@tournament.id)  %>
		</div>
		<div class="small-3 columns tourn-links">
			<%= link_to "Putting", putting_leaderboard_tournament_path(@tournament.id) %>
		</div>
		<div class="small-2 columns tourn-links">
			<%= link_to "+ Rnd", tournament_rounds_path(@tournament)  %>
		</div>
	</div>
</div>