<div class="row align-center align-middle login-page">
  <div class="small-12 medium-12 large-3 columns log-in-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row align-middle field-info">
      <div class="small-2 columns field">
        <i class="fi-at-sign"></i>
      </div>
      <div class="small-9 columns field">
        <%= f.email_field :email, autofocus: true, placeholder: 'EMAIL', class: 'email-login' %>
      </div>
    </div>
    <div class="row align-middle field-info" id="login-form-line">
      <div class="small-2 columns field">
        <i class="fi-star"></i>
      </div>
      <div class="small-8 columns field">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'PASSWORD' %>
      </div>
      <div class="small-1 columns">
        <%= button_tag(class: "login-submit fi-arrow-right") do %>
      </div>
      <% end %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field remember-me">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end %>

    <% end %>

  </div>
</div>