<div class="row align-center align-middle login-page">
  <div class="small-12 medium-12 large-3 columns log-in-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row align-middle align-center field-info">
      <div class="small-10 columns field">
        <%= f.email_field :email, autofocus: true, placeholder: 'EMAIL', class: 'label-login'  %>
      </div>
      <div class="small-10 columns field">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'PASSWORD', class: 'label-login'  %>
      </div>
      <div class="small-10 columns">
        <%= f.submit 'Sign In', class: 'button expanded'  %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= render "devise/shared/links" %>
      </div>
      <% end %>
    </div>

    <% end %>

  </div>
</div>