<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>TourneyApp</title>

    <%= stylesheet_link_tag    "application", 'https://fonts.googleapis.com/css?family=Lora:400,700|Cinzel:400,700|Montserrat:400,700', 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body data-no-turbolink="true">
    <div class="container" id="main-container">
    <% flash.each do |key, value| %>
      <div class="<%= key %> callout floating error-alert" data-closable>
        <h5><%= value %></h5>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if user_signed_in? %>
     <div class="back-container"><%= link_to 'back', :back %></div>
      <menu class="button_container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </menu>
      <div class="overlay" id="overlay">
        <nav class="overlay-menu">
          <ul>
            <li><%= link_to 'Profile', user_path(current_user.id) %></li>
            <li><%= link_to 'Tournament Home', tournaments_path %></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete  %></li>
          </ul>
        </nav>
      </div>
      <% end %>
			<%= yield %>
		</div>
  </body>
</html>
